<br><br><br><center>
<body>
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :date_of_birth, class: 'col-sm-2 control-label'  %> (<em>GoJunkies must be 18 years or older)</em>
    <div class="col-sm-6">
      <%= f.date_select :date_of_birth, start_year: 1920, end_year: 1997, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_female, "Gender", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.radio_button :gender, :Girl %> <%= f.label :gender, "Girl" %>
      <%= f.radio_button :gender, :Guy %> <%= f.label :gender, "Guy" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(Must be <%= @minimum_password_length %> characters)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <% end %>
  <%= render "devise/shared/links" %>
</body>
</center>