<h2>Howdy, <%= current_user.name.upcase %>!</h2>

<p><%= current_user.avatar %></p>

<p>Current City<br><%= current_user.location %></p>

<p><%= current_user.gender.capitalize %></p>

<p><%= current_user.age %> years old</p>

<p><%= current_user.language %></p>

<p><%= current_user.relationship %></p>

<p><%= current_user.orientation %></p>

<p><%= current_user.education %></p>

<p>Has kids<br><%= current_user.kids ? "Yes" : "No" %></p>

<p>Drinks<br><%= current_user.drinks ? "Yes" : "No" %></p>

<p>Smokes<br><%= current_user.smokes ? "Yes" : "No" %></p>
<!-- <p>Websites</p>
<p>Interests</p> -->

<p>Interests<br><%= current_user.interests %></p>

<p>The 411 on me:<br><%= current_user.description %></p>

<%= link_to("Edit my profile", edit_user_registration_path)%>
